body {
  width: 70%;
  margin: 0 auto;
  font-family: "Futura", sans-serif;
}

h1,
h2,
h3 {
  margin-top: 1.5em;
}

h1 {
  font-size: 32px;
}

/* table {
  border: 1px;
  border-collapse: collapse;
} */

table,
tr,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

figcaption {
  font-style: italic;
}

figure {
  float: right;
}

div {
  margin-bottom: 10px;
}

.clear {
  clear: both;
}

.border {
  border-collapse: collapse;
}
